Diagnostics:
  ClangTidy:
    Add:
      - bugprone-*
      - performance-*
      - readability-*
      - clang-analyzer-*
      - misc-*
      - cert-*
      - llvm-*
    Remove:
      - cert-err33-c
    CheckOptions:
      bugprone-exception-escape: true
      bugprone-signed-char-misuse: true
      performance-unnecessary-value-param: true
      cert-dcl03-c: true
      cert-err34-c: true
      misc-non-private-member-variables-in-classes.Strict: true
      misc-unused-parameters: true
      misc-definitions-in-headers: true
      misc-macro-parentheses: true
      misc-non-constant-array-index: true